#hit{
  background-color: rgb(25, 25, 91);
}
#top{
  text-align: center;
  font-weight: 500;
  color: #fff;
  font-size: 20px;
padding-top: 5%;
}
#top2{
  font-weight: 800;
  font-size: 40px;
  color: #fff;
  text-align: center;
}